# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Project specifics
data/
model/
results/
*.DS_Store
